

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <h2 class="card-title"> SC <b style="color:#666">s</b>mart<b style="color:#666">c</b>ity </h2>
        </div>
        <ul class="nav">
          <li class="{% if 'clean' in segment %} active {% endif %}">
            <a href="/ui-clean.html">
              <i class="tim-icons icon-bus-front-12"></i>
              <p>Чистый двор</p>
            </a>
          </li>
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Дорожник</p>
            </a>
          </li>
          <li class="{% if 'heatmaps' in segment %} active {% endif %}">
            <a href="/ui-heatmaps.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>TEPLO-MAPS</p>
            </a>
          </li>
          <li class="{% if 'safety' in segment %} active {% endif %}">
            <a href="/ui-safetypark.html">
              <i class="tim-icons icon-pin"></i>
              <p>SAFETY ПАРК</p>
            </a>
          </li>
          <li class="{% if 'parking' in segment %} active {% endif %}">
            <a href="/ui-parking.html">
              <i class="tim-icons icon-atom"></i>
              <p>Паркинг</p>
            </a>
          </li>
          <li class="{% if 'typography' in segment %} active {% endif %}">
            <a href="/ui-demonstration.html">
              <i class="tim-icons icon-bus-front-12"></i>
              <p>Developing</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
