{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
  <div class="col-md-12">

    <div class="card">

      <div class="card-header">

        <h5 class="title">Камера: {{porhole.address}}:</h5>
          	<video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="420"
                poster=""
                data-setup="{}"
                autoplay
                loop
              >
                <source src="/static/assets/video/file{{porhole.pId}}.webm" type="video/webm" />
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a
                  web browser that
                  <a href="https://videojs.com/html5-video-support/" target="_blank"
                    >supports HTML5 video</a
                  >
                </p>
              </video>
        <p class="category"></p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}