{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
  <div class="col-md-12">

    <div class="card">

      <div class="card-header">
        <div class="box">
              <iframe width="100%" height="600" src="http://74ed-62-192-251-83.ngrok.io"  frameborder="1" allow="autoplay; encrypted-media" allowfullscreen align="left" ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
